## Importing libaries :-

In [56]:
import re 
import pandas as pd

## Loading the datasets :-

In [57]:
f = open('../demo/WhatsApp Chat with Doc.txt', 'r', encoding='utf-8')

In [58]:
data = f.read()

In [59]:
# Regular expression codition :-

pattern = r"\[\d{1,2}/\d{1,2}/\d{2},\s\d{1,2}:\d{2}:\d{2}\s?(?:AM|PM|am|pm)\]"

In [60]:
# Codition to extract only message (text) :-

message = re.split(pattern, data)[1:]

In [61]:
# Condition to extract only dates :-

dates = re.findall(pattern, data)

In [62]:
# Converting the data to DataFrame :-

df = pd.DataFrame({'user_msg':message, 'msg_dates':dates})

# Converting Msg_Dates type :-

df['msg_dates'] = df['msg_dates'].str.replace(r"[\[\]]", "", regex=True)
df['msg_dates'] = df['msg_dates'].str.replace('\u202f', " ", regex=True)
df['msg_dates'] = df['msg_dates'].str.replace('\xa0', " ", regex=True)
df['msg_dates'] = pd.to_datetime(df['msg_dates'], dayfirst=True, errors='coerce')
df['date'] = df['msg_dates'].dt.strftime('%d-%m-%Y, %I:%M:%S %p')

/var/folders/s9/mwtf1kc900z3vxh_g1ygj6300000gn/T/ipykernel_1707/3437701128.py:10: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['msg_dates'] = pd.to_datetime(df['msg_dates'], dayfirst=True, errors='coerce')

In [63]:
# Now, we have to separate User & Msg :-

user = []
messages = []

for message in df['user_msg']:
    entry = re.split(r'([\w\W]+?):\s', message)
    if entry[1:]:
        user.append(entry[1])
        messages.append(entry[2])
    else:
        user.append('group_notification')
        messages.append(entry[0])

df['user'] = user
df['message'] = messages
df.drop(columns=['user_msg'], inplace=True)

df.head()

,msg_dates,date,user,message
0,2025-05-08 14:57:31,"08-05-2025, 02:57:31 PM",~NirogMann Clinics,‎Messages and calls are end-to-end encrypted. ...
1,2025-05-08 14:57:31,"08-05-2025, 02:57:31 PM",~NirogMann Clinics,
2,2025-05-08 14:55:24,"08-05-2025, 02:55:24 PM",~NirogMann Clinics,"Hello,\nThis is from NirogMann Clinics Dr Kapi..."
3,2025-05-08 14:55:43,"08-05-2025, 02:55:43 PM",~NirogMann Clinics,
4,2025-05-08 14:55:43,"08-05-2025, 02:55:43 PM",~NirogMann Clinics,"Location\nM-216, Vikas puri\n Near M block Han..."

In [64]:
# Extracting columns from Msg_Date col :-

df['month_num'] = df['msg_dates'].dt.month
df['only_date'] = df['msg_dates'].dt.date
df['day_name'] = df['msg_dates'].dt.day_name()
df['year'] = df['msg_dates'].dt.year
df['month'] = df['msg_dates'].dt.month_name()
df['day'] = df['msg_dates'].dt.day
df['hour'] = df['msg_dates'].dt.hour
df['minute'] = df['msg_dates'].dt.minute

In [65]:
df.head()

,msg_dates,date,user,message,month_num,only_date,day_name,year,month,day,hour,minute
0,2025-05-08 14:57:31,"08-05-2025, 02:57:31 PM",~NirogMann Clinics,‎Messages and calls are end-to-end encrypted. ...,5,2025-05-08,Thursday,2025,May,8,14,57
1,2025-05-08 14:57:31,"08-05-2025, 02:57:31 PM",~NirogMann Clinics,,5,2025-05-08,Thursday,2025,May,8,14,57
2,2025-05-08 14:55:24,"08-05-2025, 02:55:24 PM",~NirogMann Clinics,"Hello,\nThis is from NirogMann Clinics Dr Kapi...",5,2025-05-08,Thursday,2025,May,8,14,55
3,2025-05-08 14:55:43,"08-05-2025, 02:55:43 PM",~NirogMann Clinics,,5,2025-05-08,Thursday,2025,May,8,14,55
4,2025-05-08 14:55:43,"08-05-2025, 02:55:43 PM",~NirogMann Clinics,"Location\nM-216, Vikas puri\n Near M block Han...",5,2025-05-08,Thursday,2025,May,8,14,55

In [66]:
df.shape

(386, 12)